<mat-toolbar>
  Edycja lotniska
</mat-toolbar>

<mat-card>
  <mat-card-content class="outCard">
    <mat-card-title>Dane lotniska</mat-card-title>
    <div class="userField">
      <div class="title">Nazwa</div>
      <div class="content">{{chosenAirport?.name}}</div>
    </div>
    <div class="userField">
      <div class="title">Miasto</div>
      <div class="content">{{chosenAirport?.city}}</div>
    </div>
    <div class="userField">
      <div class="title">Kraj</div>
      <div class="content">{{chosenAirport?.country}}</div>
    </div>
    <div class="userField">
      <div class="title">Timezone</div>
      <div class="content">{{chosenAirport?.timezone+2}}</div>
    </div>
    <div class="userField">
      <div class="title">Latitude</div>
      <div class="content">{{chosenAirport?.latitude}}</div>
    </div>
    <div class="userField">
      <div class="title">Longitude</div>
      <div class="content">{{chosenAirport?.longitude}}</div>
    </div>

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Edytuj dane</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <form [formGroup]="airportForm">
              <mat-form-field>
                <mat-label>Nazwa</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  required
                />
                <mat-error>Lotnisko musi składać się z co najmniej dwóch liter i nie zawierać liter</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Miasto</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="city"
                  required
                />
                <mat-error>Nazwa miasta musi składać się z co najmniej dwóch liter i nie zawierać liter</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Kraj</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="country"
                  required
                />
                <mat-error>Nazwa kraju musi składać się z co najmniej dwóch liter i nie zawierać liter</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Timezone</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="timezone"
                  required
                />
                <mat-error>Timezone musi być w przedziale liczbowym -12 do 12</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Latitude</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="latitude"
                  required
                />
                <mat-error>Latitude musi być liczbą</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Longitude</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="longitude"
                  required
                />
                <mat-error>Longitude musi być liczbą</mat-error>
              </mat-form-field>
            </form>
          </mat-card-content>

          <button
            mat-button
            color="primary"
            [disabled]="airportForm.invalid"
            (click)="onSubmit()">Edytuj
          </button>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card-content>
</mat-card>

