<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar class ="menuToolbar"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/start']" [routerLinkActive]="['is-active']"><i class="fa fa-home fa-lg"></i> <span style="font-weight: bold">Start</span></a>
      <a mat-list-item [routerLink]="['/search']" [routerLinkActive]="['is-active']"><i class="fa fa-plane fa-lg"></i> <span style="font-weight: bold">Rezerwuj lot</span></a>
      <a mat-list-item [routerLink]="['/ticket']" [routerLinkActive]="['is-active']"><i class="fa fa-ticket fa-lg"></i><span style="font-weight: bold">Twoje bilety</span></a>
      <a mat-list-item [routerLink]="['/userData']" [routerLinkActive]="['is-active']"><i class="fa fa-user-circle fa-lg"></i><span style="font-weight: bold">Twoje dane</span></a>
      <a mat-list-item (click) = "logout()" [routerLinkActive]="['is-active']"><i class="fa fa-sign-out fa-lg"></i><span style="font-weight: bold">Wyloguj się</span></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
