<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row let i = index">{{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="departurePlace">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Miejsce wylotu</th>
      <td mat-cell *matCellDef="let row">{{row.srcPlace}}</td>
    </ng-container>

    <ng-container matColumnDef="departureTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data wylotu(GMT)</th>
      <td mat-cell *matCellDef="let row">{{row.departureDateGMT}}, {{row.departureTimeGMT}}</td>
    </ng-container>

    <ng-container matColumnDef="departureTimeLocal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data wylotu(lokalnie)</th>
      <td mat-cell *matCellDef="let row">{{row.departureDate}}, {{row.departureTime}}</td>
    </ng-container>

    <ng-container matColumnDef="arrivalPlace">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Miejsce przylotu</th>
      <td mat-cell *matCellDef="let row">{{row.dstPlace}}</td>
    </ng-container>

    <ng-container matColumnDef="arrivalTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data przylotu(GMT)</th>
      <td mat-cell *matCellDef="let row">{{row.arrivalDateGMT}}, {{row.arrivalTimeGMT}}</td>
    </ng-container>

    <ng-container matColumnDef="arrivalTimeLocal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data przylotu(lokalnie)</th>
      <td mat-cell *matCellDef="let row">{{row.arrivalDate}}, {{row.arrivalTime}}</td>
    </ng-container>

    <ng-container *ngIf="seatNumber">
      <ng-container matColumnDef="seatNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer miejsca</th>
        <td mat-cell *matCellDef="let row">{{row.seatNumber}}</td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="airline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Linia</th>
      <td mat-cell *matCellDef="let row">{{row.airline}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena za 1os.</th>
      <td mat-cell *matCellDef="let row">{{row.price}} PLN</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


