.mat-card {
  margin: 0 auto;
  text-align: center;
}
i{
  font-size: medium
}

.title {
  margin: 2vh 0;
  margin-right: 3vw;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.mat-card-subtitle {
  margin: 2vh 4vw;
  font-size: 1.0rem;
  color: black;
}

.mat-card-content {
  margin: 0 5vw;
}

.mat-card-actions {
  text-align: center;
  font-size: 1.2rem;
}

button:hover {
  background-color: #673ab7;
  color: white;
}
