/*form {*/
/*  text-align: center;*/
/*}*/

/*form > * {*/
/*  margin-right: 2vw;*/
/*}*/

/*.mat-form-field, .mat-checkbox {*/
/*  font-size: 1.2rem;*/
/*}*/

/*.mat-checkbox {*/
/*  width: 45%;*/
/*  display: inline-block;*/
/*}*/

/*.passengers {*/
/*  width: 15%;*/
/*}*/

/*.location {*/
/*  width: 45%;*/
/*}*/

/*.date {*/
/*  width: 15%;*/
/*}*/

