form {
  text-align: center;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.subtitle{
  margin: 0;
}
.mat-step{
  color: #283590
}

mat-toolbar{
  background: white;
  margin-bottom: 20px;
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
}

mat-card{
  margin: 0 5vw 2vh 5vw;
  padding-bottom: 4vh;
}

mat-card-header{
  margin-bottom: 40px;
}

.location{
  margin-right: 2vw;
  margin-bottom: 3vh;
  font-size: 1.9rem;
}

.date{
  margin-left: 2vw;
  margin-bottom: 3vh;
}

.mat-form-field, .mat-checkbox {
  font-size: 0.9rem;
}

.mat-radio-button  {
  width: 10%;
  margin: 0 2vw;
  display: inline-block;
  margin-bottom: 3vh;
}

.passengers {
  width: 15%;
  display: inline-block;
  margin-bottom: 3vh;

}

.location {
  width: 35%;
}

.date {
  width: 25%;
}

.passenger{
  width: 10%;
  margin-right: 2vw;
  display: inline-block;
  margin-bottom: 1vh;
}

.change1{
  margin-right: 3vw;
  width: 28.9%;
  display: inline-block;
  margin-bottom: 3vw;
}

.change2{
  margin-left: 3vw;
  width: 28.9%;
  display: inline-block;
  margin-bottom: 3vw;
}

.map{
  margin-bottom: 3vw;
}

mat-horizontal-stepper{
  margin: 0 5vw;
  background: #f3f3f3;
}

.mat-card-actions {
  text-align: center;
  padding: 0
}

button{
  font-size: 1.3rem;
}

@media (max-width: 1150px) {
  .passenger{
    width: 10%;
  }
  .firstCheckbox{
    width: 20%;
  }
  .secondCheckbox{
    width: 20%;
  }
}

@media (max-width: 850px) {
  .secondCheckbox{
    display: block;
    width: 20%;
    margin: 0 20vw;
  }
}


