
CYCKI
<!--<mat-toolbar></mat-toolbar>-->
<!--  <mat-card>-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>{{title}}</mat-card-title>-->
<!--      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>-->
<!--  </mat-card-header>-->

<!--  <mat-card-content>-->
<!--    <form&lt;!&ndash; [formGroup]="form"&ndash;&gt;  >-->

<!--      <mat-form-field class="passengers">-->
<!--        <mat-label>Liczba pasażerów:</mat-label>-->
<!--        <input matInput type="number" formControlName="passengersNumber" />-->
<!--      </mat-form-field>-->
<!--      <mat-checkbox color="primary" formControlName="bothWays">W dwie strony?</mat-checkbox>-->

<!--      <mat-form-field class="location">-->
<!--        <mat-label>Skąd:</mat-label>-->
<!--        <input-->
<!--          (click)="clearAutocompleteOptions()"-->
<!--          matInput-->
<!--          type="text"-->
<!--          formControlName="sourceLocation"-->
<!--          [matAutocomplete]="srcAc"-->
<!--          (input)="getAutocompleteAirportsOptions($event)"-->
<!--        />-->
<!--        <mat-autocomplete #srcAc>-->
<!--          <mat-option *ngFor="let option of autocompleteOptions | async" [value]="option.name.concat(', ', option.city, ', ', option.country)">-->
<!--            {{option.city}}, {{option.country}}, {{option.name}}            </mat-option>-->
<!--        </mat-autocomplete>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="date">-->
<!--        <mat-label>Data wylotu:</mat-label>-->
<!--        <input matInput (dateChange)="determineMinDateForArrivalDate()" [matDatepicker]="departureDp" formControlName="departureDate" [min]="minDateForDepartureDate" />-->
<!--        <mat-datepicker-toggle matSuffix [for]="departureDp"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #departureDp></mat-datepicker>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="location">-->
<!--        <mat-label>Dokąd:</mat-label>-->
<!--        <input-->
<!--          matInput-->
<!--          type="text"-->
<!--          formControlName="destinationLocation"-->
<!--          [matAutocomplete]="dstAc"-->
<!--          (click)="clearAutocompleteOptions()"-->
<!--          (input)="getAutocompleteAirportsOptions($event)"-->
<!--        />-->
<!--        <mat-autocomplete #dstAc>-->
<!--          <mat-option *ngFor="let option of autocompleteOptions | async" [value]="option.name.concat(', ', option.city, ', ', option.country)">-->
<!--            {{option.city}}, {{option.country}}, {{option.name}}-->
<!--          </mat-option>-->
<!--        </mat-autocomplete>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="date">-->
<!--        <mat-label>Data przylotu:</mat-label>-->
<!--        <input matInput [matDatepicker]="arrivalDp" formControlName="arrivalDate" [min]="minDateForArrivalDate" />-->
<!--        <mat-datepicker-toggle matSuffix [for]="arrivalDp"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #arrivalDp></mat-datepicker>-->
<!--      </mat-form-field>-->
<!--    </form>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <button mat-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Szukaj</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
