mat-card {
  margin: 2vh 5vw;
  align-items: center;
  padding: 2vh 2vw;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border: none;
  background: #f3f3f3;
}

.wrapper {
  padding: 3vh 4vw;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

mat-card-header {
  margin-bottom: 10px;
  margin-left: 0;
}

mat-card-title {
  margin-left: -16px;
}

mat-toolbar {
  background: white;
  margin-bottom: 20px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.menuToolbar {
  height: 40vh;
  width: 30vw;
  background: url('src/assets/pngwing.com.png') no-repeat center;
  background-size: contain;
}


mat-card-content {
  font-size: 1.0rem;
}

.wrapper > mat-card-content {
  padding: 1vh 0;
}

@media (max-width: 1150px) {
  .menuToolbar {
    display: none;
  }
}
