mat-toolbar {
  background: white;
  margin-bottom: 20px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}


mat-horizontal-stepper {
  margin: 0 5vw;
  background: #f3f3f3;
}

mat-list {
  margin-left: 2vw;
  margin-right: 2vw;
}

mat-list {
  margin: 0 5vw;
}

.ng-container {
  margin: 0 2vw;
  text-align: center;
}

.mat-card {
  margin: 0 10vw;
  text-align: center;
  position: relative;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

mat-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #283590;
}

mat-spinner {
  text-align: center;
  margin: 25vh auto;
}


