<mat-toolbar>
  <div class="title">{{title$ | async}}</div>
</mat-toolbar>

<mat-horizontal-stepper linear [selectedIndex]="1">
  <mat-step label="Wypełnij formularz"></mat-step>
  <mat-step label="Wybierz lot"></mat-step>
  <mat-step label="Podaj pasażera"></mat-step>
  <mat-step label="Koniec"></mat-step>
</mat-horizontal-stepper>

<ng-container *ngIf="!isDataFetched; else flightList">
      <mat-spinner></mat-spinner>
</ng-container>

<ng-template #flightList>
  <mat-list *ngFor="let flight of flights">
    <app-flight [flight]="flight" (chosenFlight)="onFlightSelection($event)"></app-flight>
  </mat-list>
</ng-template>

<ng-container *ngIf="!flights.length && isDataFetched">
  <mat-card>
    Brak lotów o zadanych parametrach!
  </mat-card>
</ng-container>
