<mat-toolbar>
  O aplikacji
</mat-toolbar>

<mat-card>
  <mat-card-content class="wrapper">

    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Witaj adminie!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        W panelu admina masz możliwość zarządzania: <br>
        <ul>
          <li>liniami lotniczymi</li>
          <li>lotniskami</li>
          <li>lotami</li>
          <li>pasażerami</li>
          <li>podróżami</li>
          <li>użytkownikami</li>
        </ul>
        Możesz dodawać, usuwać i modyfikować poszczególne elementy. <br>
      </mat-card-content>
    </mat-card-content>
    <mat-icon class="menuToolbar"></mat-icon>
  </mat-card-content>
</mat-card>
