
.infinity-image-container {
  background: url('src/assets/logo4.png') center no-repeat;
  background-size: 950px;
}

.infinity-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infinity-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.infinity-form .form-input {
  position: relative;
}

::placeholder {
  color: black;
  opacity: 0.8;
}

.infinity-form h1 {
  letter-spacing: 1px;
}

.infinity-form .form-input input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background: transparent;
  padding-left: 40px;
  color: black;

}

.infinity-form .form-input span {
  position: absolute;
  top: 8px;
  padding-left: 10px;
  color: black;
}

.infinity-form button {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background: #283590; /*Button Color*/
  color: #fff;
  transition: 0.5s;
}

.infinity-form button:hover {
  background: #4285f4; /*Button color when hover*/
}

.register-link {
  color: #283590;
}

.register-link:hover {
  color: #4285f4;
}

