<mat-toolbar>
  <div class="title">Dodaj lotnisko</div>
</mat-toolbar>

<mat-card>
  <mat-card-content class="outCard">
    <mat-card-content>
      <mat-card-title>Dane lotniska</mat-card-title>
      <form [formGroup]="airportForm">
        <mat-form-field>
          <mat-label>Nazwa</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            required
          />
          <mat-error>Lotnisko musi składać się z co najmniej dwóch liter i nie zawierać liter</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Miasto</mat-label>
          <input
            matInput
            type="text"
            formControlName="city"
            required
          />
          <mat-error>Nazwa miasta musi składać się z co najmniej dwóch liter i nie zawierać liter</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kraj</mat-label>
          <input
            matInput
            type="text"
            formControlName="country"
            required
          />
          <mat-error>Nazwa kraju musi składać się z co najmniej dwóch liter i nie zawierać liter</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Timezone</mat-label>
          <input
            matInput
            type="number"
            formControlName="timezone"
            required
          />
          <mat-error>Timezone musi być w przedziale liczbowym -12 do 12</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Latitude</mat-label>
          <input
            matInput
            type="text"
            formControlName="latitude"
            required
          />
          <mat-error>Latitude musi być liczbą</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Longitude</mat-label>
          <input
            matInput
            type="text"
            formControlName="longitude"
            required
          />
          <mat-error>Longitude musi być liczbą</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <button
      mat-button
      color="primary"
      [disabled]="airportForm.invalid"
      (click)="onSubmit()">Dodaj
    </button>
  </mat-card-content>
</mat-card>



