/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$flight-booking-primary: mat-palette($mat-indigo, 900);
$flight-booking-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$flight-booking-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$flight-booking-theme: mat-light-theme((
  color: (
    primary: $flight-booking-primary,
    accent: $flight-booking-primary,
    warn: $flight-booking-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($flight-booking-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.style-succes {
  color: white;
  background-color: #4BB543;
}

.style-succes .mat-simple-snackbar-action {
  color: white;
}

.style-error {
  color: white;
  background-color: rgb(211, 47, 47);
}

.style-error .mat-simple-snackbar-action {
  color: white;
}

.search-div {
  margin: 10px;
}

.search-form-field {
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

/* for dialog pop-up */
.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em;
  padding: 0px;
}

.confirm-dialog-container .content-container {
  margin: 5px 5px 15px 5px;
  color: black;
  display: flex;
}

.confirm-dialog-container #close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}

.confirm-dialog-container #close-icon:hover {
  cursor: pointer;
}

.confirm-dialog-container #no-button {
  height: 50px;
  width: 50%;
  background-color: #b6bece;
  color: white;
  border-radius: 0px;
}

.confirm-dialog-container #yes-button {
  height: 50px;
  width: 50%;
  background-color: #283590;
  color: white;
  border-radius: 0px;
}

.confirm-dialog-container span.content-span {
  padding: 35px 16px;
  text-align: center;
  font-size: 20px;
}
