/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.style-succes {
  color: white;
  background-color: rgb(67, 160, 71);
}
.style-succes .mat-simple-snackbar-action  {
  color: white;
}
.style-error {
  color: white;
  background-color: rgb(211, 47, 47);
}
.style-error .mat-simple-snackbar-action {
  color: white;
}
